name: go-build-zero-animal

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        include:
          - platform: ubuntu-latest

    name: Build ${{ join(matrix.platform, ',') }} zero-animal
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build
        run: go build -v ./...
  
      - name: Test
        run: go test -v ./...

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - shell: bash
        name: docker build
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u mabels --password-stdin
          export VERSION=$(basename ${{ github.ref }})
          find . -type d
          cp ./dist/zero-animal_linux_arm64/zero-animal .
          docker build --no-cache -t zero-animal:arm64-${{ github.sha }} . --platform=linux/arm64/v8 
          docker tag zero-animal:arm64-${{ github.sha }} ghcr.io/mabels/zero-animal:arm64-${{ github.sha }}
          docker push ghcr.io/mabels/zero-animal:arm64-${{ github.sha }}
          docker tag zero-animal:arm64-${{ github.sha }} ghcr.io/mabels/zero-animal:arm64-$VERSION
          docker push ghcr.io/mabels/zero-animal:arm64-$VERSION
          cp ./dist/zero-animal_linux_arm_7/zero-animal .
          docker build --no-cache -t zero-animal:armv7-${{ github.sha }} . --platform=linux/arm/v7 
          docker tag zero-animal:armv7-${{ github.sha }} ghcr.io/mabels/zero-animal:armv7-${{ github.sha }}
          docker push ghcr.io/mabels/zero-animal:armv7-${{ github.sha }}
          docker tag zero-animal:armv7-${{ github.sha }} ghcr.io/mabels/zero-animal:armv7-$VERSION
          docker push ghcr.io/mabels/zero-animal:armv7-$VERSION
          cp ./dist/zero-animal_linux_amd64/zero-animal .
          docker build --no-cache -t zero-animal:amd64-${{ github.sha }} . --platform=linux/amd64
          docker tag zero-animal:amd64-${{ github.sha }} ghcr.io/mabels/zero-animal:amd64-${{ github.sha }}
          docker push ghcr.io/mabels/zero-animal:amd64-${{ github.sha }}
          docker tag zero-animal:amd64-${{ github.sha }} ghcr.io/mabels/zero-animal:amd64-$VERSION
          docker push ghcr.io/mabels/zero-animal:amd64-$VERSION
          docker manifest create ghcr.io/mabels/zero-animal:$VERSION \
             ghcr.io/mabels/zero-animal:amd64-$VERSION \
             ghcr.io/mabels/zero-animal:armv7-$VERSION \
             ghcr.io/mabels/zero-animal:arm64-$VERSION
          docker manifest annotate ghcr.io/mabels/zero-animal:$VERSION \
             ghcr.io/mabels/zero-animal:amd64-$VERSION --arch amd64 
          docker manifest annotate ghcr.io/mabels/zero-animal:$VERSION \
             ghcr.io/mabels/zero-animal:armv7-$VERSION --arch arm --variant v7
          docker manifest annotate ghcr.io/mabels/zero-animal:$VERSION \
             ghcr.io/mabels/zero-animal:arm64-$VERSION --arch arm64 --variant v8
          docker manifest push ghcr.io/mabels/zero-animal:$VERSION

#manifests:
#  - image: repro/developers-paradise:tag-aarch64-revision
#    platform:
#      architecture: arm64
#      os: linux
#      variant: v8
#  - image: repro/developers-paradise:ghrunner-armv7l-revision
#    platform:
#      architecture: arm
#      os: linux
#      variant: v7
#  - image: repro/developers-paradise:tag-x86_64-revision
#    platform:
#      architecture: amd64
#      os: linux
#
